<!-- main-block -->
<section class="main-block main-block--mb container">
    <div class="main-block__inner">
        <div class="main-block__content">
            <h1 class="main-block__title">Мельница</h1>
            <ul class="list-reset main-block__items">
                <li class="main-block__item">
                    <span class="main-block__description">Ульяновск</span>
                    <span class="main-block__info">ДК Губернаторский</span>
                </li>
                <li class="main-block__item">
                    <span class="main-block__description">5 июн</span>
                    <span class="main-block__info">19:00</span>
                </li>
                <li class="main-block__item">
                    <span class="main-block__description">1200</span>
                    <span class="main-block__info">Человек собрано</span>
                </li>
            </ul>
        </div>
    </div>

</section>
<!--End main-block -->