.btn-create {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 10px 8px;
  border: 1px solid var(--green-base);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: var(--green-base);
  gap: 8px;
}

.user-logged {
  &__list,
  &__bottom {
    margin: 0 -6px 2px;
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 16px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__inner {
    left: auto;
    right: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__icon {

  }

  &__block {
    margin-right: 35px;
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--primary-black);
  }

  &__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--secondary-black);
  }

  &__list {
    padding-bottom: 14px;
    border-bottom: 1px solid var(--secondary);
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__link {
    display: block;
    padding: 8px 12px 9px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--primary-black);
    transition: 0.3s;

    &:hover {
      background-color: var(--orange-light);
    }
  }

  &__bottom {
  }
}

.svg-replace {
  &:hover {
    color: var(--grey-dark);

    .svg-replace__icon {
      stroke: var(--grey-dark);

      &--fill {
        fill: var(--grey-dark);
        stroke: none;
      }
    }
  }

  &:active {
    color: var(--green-base);

    .svg-replace__icon {
      stroke: var(--green-base);

      &--fill {
        fill: var(--green-base);
        stroke: none;
      }
    }
  }

  &.active {
    color: var(--green-base);

    .svg-replace__icon {
      stroke: var(--green-base);

      &--fill {
        fill: var(--green-base);
        stroke: none;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    stroke: var(--primary-black);
    transition: 0.3s;

    &--fill {
      fill: var(--primary-black);
      stroke: none;
    }
  }
}

.burger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  border: none;
  color: #000;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 9px);
    width: 18px;
    height: 1.5px;
    border-radius: 100px;
    background-color: #222123;
    transform: translateY(-50%, -50%);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: calc(50% - 6px);
  }

  &::after {
    top: calc(50% + 4px);
  }

  span {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: #222123;
  }

  &--active {
    border-radius: 50%;
    background-color: #f5f5f5;

    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  &.burger--active {
    z-index: 101;

    &::before,
    &::after {
      background: #222123;
    }

    span {
      display: none;
    }
  }
}

.search-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;

  @include media($xxl) {
    margin-right: 10px;
  }
}