.tablet {
  @include min-media($xl + 1px) {
    display: none;
  }

  &__burger {
    position: absolute;
    right: 24px;
    top: 12px;
    z-index: 100;

    @include media($sm) {
      right: 8px;
      top: 8px;
    }
  }

  &__block {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    background-color: #fbfcfa;
    transition: 0.3s;

    &.menu--active {
      top: 0;
      visibility: visible;
      opacity: 1;
    }
  }

  &__container {
    padding: 96px 24px 24px;
    height: 100%;
    overflow: auto;

    @include media($sm) {
      padding: 68px 8px 24px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 16px 23px;
    border: 1px solid #d6d6d6;
    border-radius: 24px;
    gap: 20px;

    @include media($lg) {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: 1fr 2fr;
    }

    @include media($sm) {
      display: flex;
      flex-direction: column;
      padding: 0;
      border: none;
      border-radius: 0;
    }

    &:nth-child(-n + 3) {
      @include media($sm) {
        padding-bottom: 16px;
        border-bottom: 1px solid #d6d6d6;
      }
    }

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    &--mobile {
      @include min-media($md) {
        display: none;
      }

      @include media($sm) {
        display: none;
      }
    }

    &--column-lg {
      @include media($lg) {
        display: flex;
        flex-direction: column;
      }
    }

    &--column-md {
      @include media($md) {
        display: flex;
        flex-direction: column;
      }

      @include media($sm) {
        display: none;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media($lg) {
      width: 100%;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #1f1f1f;
    gap: 8px;

    &--sidebar {
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #8a8f88;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    width: 100%;
    max-width: 630px;
    gap: 20px;

    @include media($lg) {
      max-width: 100%;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &--row {
      flex-direction: column;
      gap: 8px;
    }

    &--grid {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: repeat(3, 1fr);

      @include media($lg) {
        width: 100%;
      }

      @include media($sm) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #ebebeb;
  }

  &__item {
    .tablet__items--grid & {
      &:nth-child(n + 5) {
        @include media($sm) {
          display: none;
        }
      }
    }
  }

  &__link {
    display: inline-flex;
    padding: 10px 12px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #1f1f1f;
    background-color: #f5f5f5;

    &--big {
      display: flex;
      flex-direction: column;
      padding: 16px;
      height: 100%;
      gap: 24px;

      @include media($sm) {
        padding: 12px;
      }

      &-row {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 24px 16px;
        width: 100%;
        gap: 16px 24px;
      }
    }

    &--flex {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__category-all {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #8a8f88;
    gap: 4px;

    &--table {
      @include media($lg) {
        display: none;
      }
    }

    &--mobile {
      @include min-media($lg + 1px) {
        display: none;
      }
    }

    &--sm-hidden {
      @include media($sm) {
        display: none;
      }
    }

    &--sm-visible {
      @include min-media($sm + 1px) {
        display: none;
      }
    }
  }

  &__list {
    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: #1f1f1f;
      gap: 16px;
    }
  }

  &__row {
    display: flex;
    gap: 62px;
  }

  &__cards {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(3, 1fr);

    @include media($md) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 24px;
    }

    @include media($sm) {
      margin-bottom: 0;
    }
  }

  &__card {
    padding: 20px 16px 24px;
    border-radius: 24px;

    br {
      @include media($md) {
        display: none;
      }
    }

    &-name {
      display: inline-block;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #fbfcfa;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      letter-spacing: -0.02em;
      color: #fbfcfa;
    }

    @each $color, $hex in (green: #24a600, light-green: #87d448,dark-green: #1b6100) {
      &--#{$color} {
        background-color: $hex;
      }
    }
  }

  &__bottom {
    @include min-media($md + 1px) {
      display: none;
    }

    @include media($sm) {
      display: none;
    }
  }
}
